<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head(~{::title})">
	<title>Delivery - Mis pedidos</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>
	<section class="container">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item">Cliente</li>
		    <li class="breadcrumb-item" >Mis Pedidos</li>
		    <li class="breadcrumb-item active" aria-current="page" >Detalle de pedido</li>
		  </ol>
		</nav>
		
		<div style="display:flex;">
			<div th:each="detallePedido : ${pedido.detallePedidos}" class="card" style="width: 18rem; margin:10px;">
			  <img th:src="@{${detallePedido.producto.urlImage} + ${detallePedido.producto.id} + '.jpg'}" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title" >
			    	<span th:text="${detallePedido.producto.descripcion}"></span>
			    </h5>
			    <h6 class="card-subtitle mb-2 text-muted" th:text="${detallePedido.producto.marca}"></h6>
			    <p class="card-text text-right " th:text="'S/ ' + ${detallePedido.precio}"></p>			    
			  </div>
			</div>
		</div>
		
		
	</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>