<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Demo Project">
    <meta name="author" content="Programación en Web">
    
	<title th:replace="${title}">Delivery - </title>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/chosen.min.css}">
	<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/solid.min.css}">	    
</head>
<body>
  	<header th:fragment="header">
  		
  		<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
		  <a class="navbar-brand" href="#"> <i class="fas fa-truck"></i> Delivery</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  
		  <form th:action="@{/productos/search}" th:object="${producto}" method="post" 
		  		class="form-inline">
		    <input th:field="*{descripcion}" class="form-control mr-sm-2" type="search" 
		    	placeholder="Buscar por descripción" aria-label="Search">
		    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
		  </form>
		  
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
		      <a class="nav-link" th:href="@{/pedidos/mis}" sec:authorize="hasRole('ROLE_CUSTOMER')">
		      	Mis pedidos
		      </a>
		      <a class="nav-link" href="#" sec:authorize="hasRole('ROLE_PROVIDER')">
		      	Mis entregas
		      </a>
		      <a class="nav-link" href="#">Proveedores</a>
		      <a class="nav-link" href="#" sec:authorize="hasAuthority('ACCESS_DESC')">Descuentos</a>
		      <a class="nav-link" href="#" sec:authorize="hasRole('ROLE_CUSTOMER')">
		      	Carrito de compras <span class="badge badge-light">4</span>
		      </a>
		      <a class="btn btn-outline-warning" th:href="@{/login}" sec:authorize="isAnonymous()">
		      	Inicia Sesión
		      </a>
		      <ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">			      
			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle btn btn-outline-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          <span sec:authentication="name"></span>
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" th:href="@{/perfil}">Ver Perfil</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a>
			        </div>
			      </li>

			</ul>
		    </div>
		  </div>
		</nav>
  		
   	</header>
   	<main>
   		<section>
   			Hello Programmers
   		</section>
   	</main>
  	<footer th:fragment="footer">
  		
  		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	    <script th:src="@{/js/popper.min.js}"></script>
	    <script th:src="@{/js/bootstrap.min.js}"></script>
	    <script th:src="@{/js/chosen.jquery.min.js}"></script>
	    <script th:src="@{/js/fontawesome.min.js}"></script>
	    <script th:src="@{/js/sweetalert.min.js}"></script>
  	</footer>    
</body>
</html>