<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
	<title>Delivery - Template</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>
	<section class="container">

	<h1>Clientes</h1>
	
	<table class="table table-dark">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Apellidos y Nombres</th>
	      <th scope="col">Dirección</th>
	      <th scope="col">Distrito</th>
	      <th scope="col">Documento</th>
	      <th scope="col">Celular</th>
	      <th scope="col">Correo</th>
	      <th scope="col">Fecha nacimiento</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="cliente : ${clientes}">
	      <th scope="row" th:text="${cliente.id}"> </th>
	      <td th:text="${cliente.apellidos + ' ' + cliente.nombres}">Mark</td>
	      <td th:text="${cliente.direccion}">Otto</td>
	      <td th:text="${cliente.distrito.nombre}">@mdo</td>
	      <td th:text="${cliente.numeroDocumento}">@mdo</td>
	      <td th:text="${cliente.celular}">@mdo</td>
	      <td th:text="${cliente.correo}">@mdo</td>
	      <td th:text="${cliente.fechaNacimiento}">@mdo</td>
	    </tr>
	  </tbody>
	</table>
	
	<ul>
		<li th:each="cliente : ${clientes}"> 
			<a th:href="@{'clientes/' + ${cliente.id} + '/p'}">
				<span th:text="${cliente.apellidos + ' ' + cliente.nombres}"></span> 
			</a>
		</li>
	</ul>
	
	<!-- Obtener data mediante un formulario -->
	<form th:action="@{/clientes/save}" th:object="${cliente}" method="post">
	  <div class="form-row">
	    <div class="col">
	      <input type="text" class="form-control" th:field="*{apellidos}" placeholder="Apellidos">
	    </div>
	    <div class="col">
	      <input type="text" class="form-control" th:field="*{nombres}" placeholder="Nombres">
	    </div>
	    <div class="col">
	      <input type="text" class="form-control" th:field="*{direccion}" placeholder="Dirección">
	    </div>
	    <div class="col">
	      <select th:field="*{distrito}" class="form-control">
	      	<option th:each="distrito : ${distritos}" 
	      		th:value="${distrito.id}" th:text="${distrito.nombre}"></option>
	      </select>
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="col">
	      <input type="text" class="form-control" th:field="*{numeroDocumento}" placeholder="Número de documento">
	    </div>
	    <div class="col">
	      <input type="text" class="form-control" th:field="*{celular}" placeholder="Celular">
	    </div>
	    <div class="col">
	      <input type="text" class="form-control" th:field="*{correo}" placeholder="Correo">
	    </div>
	    <div class="col">
	      <input type="date" class="form-control" th:field="*{fechaNacimiento}" placeholder="Fecha de nacimiento">
	    </div>
	  </div>
	  
	  <button type="submit" class="btn btn-primary">Grabar</button>
	  
	</form>
	</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>