<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/chosen.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/solid.min.css}">

    <title>Clientes</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">Delivery</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Cuenta <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Pedidos</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Tiendas</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Dropdown link
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	          <a class="dropdown-item" href="#">Action</a>
	          <a class="dropdown-item" href="#">Another action</a>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>
	    </ul>
	  </div>
	</nav>

	<h1>Clientes</h1>
	
	<table class="table table-dark">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Apellidos y Nombres</th>
	      <th scope="col">Dirección</th>
	      <th scope="col">Distrito</th>
	      <th scope="col">Documento</th>
	      <th scope="col">Celular</th>
	      <th scope="col">Correo</th>
	      <th scope="col">Fecha nacimiento</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="cliente : ${clientes}">
	      <th scope="row" th:text="${cliente.id}"> </th>
	      <td th:text="${cliente.apellidos + ' ' + cliente.nombres}">Mark</td>
	      <td th:text="${cliente.direccion}">Otto</td>
	      <td th:text="${cliente.distrito.nombre}">@mdo</td>
	      <td th:text="${cliente.numeroDocumento}">@mdo</td>
	      <td th:text="${cliente.celular}">@mdo</td>
	      <td th:text="${cliente.correo}">@mdo</td>
	      <td th:text="${cliente.fechaNacimiento}">@mdo</td>
	    </tr>
	  </tbody>
	</table>
	
	<ul>
		<li th:each="cliente : ${clientes}"> 
			<a th:href="@{'clientes/' + ${cliente.id} + '/p'}">
				<span th:text="${cliente.apellidos + ' ' + cliente.nombres}"></span> 
			</a>
		</li>
	</ul>
	
	<!-- Obtener data mediante un formulario -->
	<form th:action="@{/clientes/save}" th:object="${cliente}" method="post">
	  <div class="form-row">
	    <div class="col">
	      <input type="text" class="form-control" th:field="*{apellidos}" placeholder="Apellidos">
	    </div>
	    <div class="col">
	      <input type="text" class="form-control" th:field="*{nombres}" placeholder="Nombres">
	    </div>
	    <div class="col">
	      <input type="text" class="form-control" th:field="*{direccion}" placeholder="Dirección">
	    </div>
	    <div class="col">
	      <select th:field="*{distrito}" class="form-control">
	      	<option th:each="distrito : ${distritos}" 
	      		th:value="${distrito.id}" th:text="${distrito.nombre}"></option>
	      </select>
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="col">
	      <input type="text" class="form-control" th:field="*{numeroDocumento}" placeholder="Número de documento">
	    </div>
	    <div class="col">
	      <input type="text" class="form-control" th:field="*{celular}" placeholder="Celular">
	    </div>
	    <div class="col">
	      <input type="text" class="form-control" th:field="*{correo}" placeholder="Correo">
	    </div>
	    <div class="col">
	      <input type="date" class="form-control" th:field="*{fechaNacimiento}" placeholder="Fecha de nacimiento">
	    </div>
	  </div>
	  
	  <button type="submit" class="btn btn-primary">Grabar</button>
	  
	</form>


    <!-- Optional JavaScript; choose one of the two! -->
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/fontawesome.min.js}"></script>
  </body>
</html>